<div class="alert-dark border border-warning m-1 p-1"> 
  <div class="msg row badge" >
    <span class="col-lg-3 mr-2"> <%= message.msg %> </span>
    <span class="col-lg-3 ml-2">  <%= fa_icon 'trash' %> <div class="deletemsg badge badge-pill badge-info" data-message_id="<%= message.id %>" ><%= t 'lot.delete' %>  </div>  </span>
    <% if message.current_bargain.present? %>
      <span class="col-lg-2 mr-1"> <%= link_to  t('bargain'), current_bargain_path(message.current_bargain), class: "badge badge-dark"%>  </span>    
    <% end %>
    <% if message.msg == 'You win' %>
      <span class="col-lg-3 ml-2">  <%= fa_icon 'thumbs-up' %> 
        <div class="like-to-user badge badge-pill badge-info" data-message_id="<%= message.id%>" >  Like </div>
      </span>
    <% end %>
  </div>
</div >
