<div class="media-body alert alert-info">
  <h4 class="media-heading">
    <div class="row">
      <div class="col-lg-2">
        <%= image_tag comment.user.avatar.url(:thumb) %>
      </div>
      <div class="col">
        <%= comment.user.nickname %>
      </div>
    </div>
  </h4>
  <i>
    <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %>
  </i>
  <p>
    <%= simple_format comment.msg %>
  </p>
  <div class="actions">
    <%= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], :parent_id => comment), class: "badge badge-secondary" %>
  </div>
  <%= nested_comments comment.children %>
</div>