<div class="media-body alert rounded border border-info">
  <h4 class="m-2 media-heading">
    <div class="row rounded border border-primary">
      <div class="col-lg-2">
        <%= image_tag comment.user.avatar.url(:thumb), width:'50', height:'50' %>
      </div>
      <div class="col-lg-3">
        <%= link_to comment.user.nickname, user_path(comment.user) %> </p>
      </div>
    </div>
  </h4>
    <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %>
  <div class="p-2 rounded border border-secondary">
      <%= simple_format comment.msg %>
  </div>
  <hr>
  <div class="actions">
    <%= link_to t('Reply'), new_polymorphic_path([@commentable, Comment.new], :parent_id => comment), class: "badge badge-dark" %>
  </div>
  <%= nested_comments comment.children %>
</div>