<% if @user.lots.nil?%>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
					<%= t('user.lots_empty')%>
		</div>
	</div>
<% else %>
		<div class="col-5">
			<%= image_tag @user.avatar.url(:medium), class: 'card-img-top rounded-circle'  %>
			<ul class="list-group">
				<li class="list-group-item active">Account: <%= @user.email %></li>
				<li class="list-group-item">Name: <%= @user.first_name%> <%= @user.second_name%></li>
				<li class="list-group-item">About user: <%= @user.about_users%></li>
				<li class="list-group-item">Likes: <%= @user.likes%></li>
			</ul>
		</div>
		<div class="row">
			<div class="card-columns col-lg-8">
				<%= render @user.lots %>
			</div>
		</div>
	</div>
<% end %>
