<%= stylesheet_link_tag 'users' %>
<button id="old-lot" type="button" class="btn btn-outline-warning" data-user_id="<%= @user.id%>"  >OLD</button>
<button id="new-lot" type="button" class="btn btn-outline-danger" data-user_id="<%= @user.id%>" >NEW</button>
<% if @user.lots.nil?%>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<%= t('user.lots_empty')%>
		</div>
	</div>
<% else %>
	<div class="row mt-1">
		<div class="col-lg-9">
			<div class="card-columns"> 
				<%= render @lots %>
			</div>
		</div>
		<div class="col-lg-3">
			<%= render @user%>
		</div>
	</div>
	<%= will_paginate @lots, renderer: 'BootstrapPaginationHelper::LinkRenderer'  %>

<% end %>
