<%= stylesheet_link_tag 'users' %>
<% if @lots.nil?%>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<%= t('user.lots_empty')%>
		</div>
	</div>
<% else %>
	<%= link_to 'NEW', user_path(@user, sort: 'new_lots'), controller: 'users', query:"old", class:'btn btn-outline-warning' %>
	<%= link_to 'OLD', user_path(@user, sort: 'old_lots'), controller: 'users', query:"new",  class:'btn btn-outline-danger' %>
	<div class="row mt-1">
		<div class="col-lg-9">
			<div class="card-columns"> 
				<%= render @lots %>
			</div>
		</div>
		<div class="col-lg-3">
			<%= render @user%>
		</div>
	</div>
	<%= will_paginate @lots, renderer: 'BootstrapPaginationHelper::LinkRenderer'  %>

<% end %>
