<span class='badge'> <%= t 'filter'%> </span> 
<%= bootstrap_form_for(FilterLot.new) do |f| %>

    <%= f.text_field :user_name %>

    <%= f.number_field :start_price,  min:0, max: '100000', step: '0.1'  %>
    
    <%= f.number_field :autopurchase_price,  min: 0, max: '10000000', step: '0.1'  %>

    <%= f.check_box :played_out, checked_value: true, unchecked_value: false %>

    <%= f.check_box :new_lots, label: 'new?', checked_value: true, unchecked_value: false %>

    <%= f.submit t('main.ok') %>
    <%= link_to t('back'), :back, class: 'btn btn-outline-secondary' %>
  
<% end %>

