<span class='badge'> <%= t 'filters'%> </span> 
<div class="col-lg-12">
<%= bootstrap_form_for(FilterLot.new) do |f| %>
    <%= f.text_field :user_name,  label: t('filter.user_name') %>
    <%= f.number_field :start_price,  min:0, max: '100000', step: '0.1', label: t('filter.start_price')  %>
    <%= f.number_field :autopurchase_price,  min: 0, max: '10000000', step: '0.1', label: t('filter.autopurchase_price')  %>
    <%= f.check_box :played_out, checked_value: true, unchecked_value: false, label: t('filter.played_out') %>
    <%= f.submit t('main.ok'), class: 'btn btn-info' %>
    <%= link_to t('back'), :back, class: 'btn btn-outline-secondary', label: t('back') %>
<% end %>
</div>
