<div class="container">
	</br>
	<div class="row">
		<div class="col-5">
			<%= image_tag @current_bargain.lot.main_image.url(:medium), class: 'rounded' %>
		</div>
		<div class="col-7 row">
			<div class="col-8 badge">
				<%= t('current_bargain.potential_winner')%>:
					<% if @current_bargain.id_user_winner %>
						<%= link_to t('click'), user_path(@current_bargain.id_user_winner) %> 
					<% else %>
				<%= t('current_bargain.no_winner_yet')%>
					<% end %>
				<%= link_to t('lot.description'), lot_path(@current_bargain.lot), class: 'badge badge-secondary' %>
				<%= link_to t('lot.user'), user_path(@current_bargain.user), class: 'badge badge-secondary' %>
			</div>
			<ul class="col-2 badge" >
				<li> 	<%= t('lot.start_price')%> <%= @current_bargain.lot.start_price %> </li>	
				<li> 	<%= t('lot.autopurchase_price')%> <%= @current_bargain.lot.autopurchase_price %> </li>	
				<li> 	<%= t('lot.current_price')%> <%= @current_bargain.current_price %> </li>	
			</ul>
			<div class="badge col-12 row">
			
				<% if can? :update, @current_bargain %>
					<%= bootstrap_form_for(@current_bargain)  do |f| %>
						<%= f.number_field(:current_price, min: '1', step: '1', max: '1000000' )%>	
						<%= f.submit "Add" %>
					<% end %>
				<%elsif !@current_bargain.played_out%> 
						<%= get_winner_info(@current_bargain.id_user_winner)%>
				<% end %>
			</div>
			<%= render 'users_clicked_add'%>
		</div>
	</div>
	<br/>
	<div class="col">
		<h2> <%= t('current_bargain.comments')%>: </h2>
		<%= render "comments/form" %>
		<%= nested_comments @comments %>
	</div> 
</div>