<p id="notice"><%= notice %></p>

<h1>Main News</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @main_news.each do |main_news| %>
      <tr>
        <td><%= main_news.title %></td>
        <td><%= main_news.description %></td>
        <td><%= link_to 'Show', main_news %></td>
        <td><%= link_to 'Edit', edit_main_news_path(main_news) %></td>
        <td><%= link_to 'Destroy', main_news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Main News', new_main_news_path %>
