<p id="notice"><%= notice %></p>

<div class="rounded border border-primary">
  <strong><%= t 'title'%>:</strong>
  <%= @main_news.title %>
</div>

<div class="rounded border m-1 border-primary">
  <strong><%= t 'lot.description'%>:</strong>
  <%= raw @main_news.description %>
</div>
<% if can? :create, @main_news%>
  <%= link_to 'Edit', edit_main_news_path(@main_news), class: "badge badge-dark" %> 
  <%= link_to 'Back', main_news_index_path, class: "badge badge-dark" %>
<% end %>