<% if @lot.errors.any? %>
  <div class="alert alert-danger">
    <h5> Errors </h5>
    <ul>
      <% @lot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @lot do |f| %>

    <%= f.input :name %>

    <%= f.input :description, as: :text %>

    <%= f.input :lot_end_date, as: :datetime, wrapper: :date, input_html: {value: ' '} %>
  
    <%= f.input :start_price, as: :float, input_html: { min: '0', step: '0.1' } %>

    <%= f.input :main_image, as: :file%>

    <%= f.input :all_tags %>

    <%= f.input :isplayedout, as: :boolean, checked_value: true, unchecked_value: false %>

    <%= f.button :submit, post: 'session_lots#create' %>

    <%= link_to 'Back', :back, class: 'btn btn-outline-secondary' %>
  
<% end %>