<div class="m-1 card border-info mb-1 " style="width: 16rem;">
 <%= image_tag lot.main_image.url(:medium), style: 'width: 16rem',class: 'center-block card-img-top p-1'  %>
  <div class="card-header">
    <%= lot.name %>
     <% if stopped?(lot) %>
        <span class="m-1 badge badge-pill badge-warning"> <%= t('lot.stopped') %> </span>
    <% elsif process?(lot) %>
        <span class="m-1 badge badge-pill badge-success"> <%= t('lot.in_process') %> </span>
    <% elsif expired?(lot)%>
        <span class="m-1 badge badge-pill badge-danger"><%= t('lot.expired')%></span> 
        <%= get_link_winner(lot.current_bargain) %>
    <% end %>
  </div>
  <div class="card-body">
    <p class="card-text">  <span class="badge"> <%= t('lot.start_price') %> </span>
        <span class="badge badge-pill badge-success"> <%= lot.start_price %> <%= t('lot.byn') %> </span>
    </p>
    <p class="card-text">  <span class="badge"> <%= t('lot.autopurchase_price') %> </span>
        <span class="badge badge-pill badge-success"> <%= lot.autopurchase_price %> <%= t('lot.byn') %> </span>
    </p>
    <p class="card-text">   <span class="badge"> <%= t('lot.time_created') %> </span> 
        <span class="badge badge-warning"><%= lot.created_at.to_time.strftime('%R %d/%m/%Y')  %> </span>
    </p>
    <p class="card-text">  <span class="badge"> <%= t('lot.end_date') %> </span> 
          <span class="badge badge-warning"><%= lot.lot_end_date.to_time.strftime('%R %d/%m/%Y')  %> </span>
    </p>
    <a href="<%=lot_path(lot)%>" class="btn btn-primary"> <%= t ('lot.description') %> </a>
  </div>
    <div class="card-footer text-muted">
      <p> <%= t('lot.by') %> <%= link_to lot.user.nickname, user_path(lot.user), class: 'btn btn-outline-info' %> </p>
      <%= raw lot.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'badge badge-secondary' }.join(' ') %>
  </div>
</div>

