<div class= "row">
	<div class="col-lg-8 mt-1">
		<%= link_to 'NEW', lots_path(sort: 'new_lots'), controller: 'lots', class:'btn btn-outline-warning' %>
		<%= link_to 'OLD', lots_path(sort: 'old_lots'), controller: 'lots', class:'btn btn-outline-danger' %>
		<%= link_to 'TOP', lots_path(sort: 'top'), controller: 'lots', class:'btn btn-outline-success' %>
		<%= link_to 'BY USERS', lots_path(sort: 'by_users'), controller: 'lots', class:'btn btn-outline-primary' %>
		<div class="row">
			<%= render @lots %>
		</div>
		<%= will_paginate @lots, renderer: 'BootstrapPaginationHelper::LinkRenderer'  %>
	</div>
	<div class= "ml-2 mt-1 col-lg-3">
		<% if show_filter?%>	
			<%= render 'filter' %>
		<%end%>
	</div>
</div>

