<article class="lot">
  <section class="lot-head">
    <%= image_tag @lot.main_image.url(:medium) %>
    <h1> <%= @lot.name %> </h1>
    <small>
      <% if @lot.isplayedout? %>
         <%= link_to  t('lot.link_to_baragain'), current_bargains_path(@lot) %>
      <% end %>
      <p class="card-text"> <%= t('lot.start_price') %>  <%= @lot.start_price %> BYN </p>
      <time> <%= t('lot.time_created') %>  <%= @lot.created_at.to_time.strftime('%I:%M %m/%d/%Y')  %> </time>
      <% if can? :edit, @lot %>
        <%= link_to  t('lot.edit'), edit_lot_path(@lot), class: "badge badge-dark"  %>
        |
        <%= link_to  t('lot.delete'), lot_path(@lot),class: "badge badge-dark",  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </small>
  </section>
 <h2> <%= t('lot.description') %> </h2>
  <section class="lot-body">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag @lot.main_image.url(:medium), class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
           <%= image_tag @lot.first_additional_image.url(:medium), class: 'd-block w-100'  %>
        </div>
        <div class="carousel-item">
           <%= image_tag @lot.second_additional_image.url(:medium), class: 'd-block w-100'  %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
    <%= @lot.description %>
  </section>
</article>