<article class="lot">
  <section class="lot-head">
      <%= image_tag @lot.main_image.url(:medium) %>
    <h1><%= @lot.name %></h1>
    <small>
      <p class="card-text">  Start price: <%= @lot.start_price %> BYN </p>
      <time>Time of creation: <%= @lot.created_at.to_time.strftime('%I:%M %m/%d/%Y')  %> </time>
      <% if @lot.user == current_user%>
        |
        <%= link_to 'Edit', edit_lot_path(@lot) %>
        |
        <%= link_to 'Delete', lot_path(@lot), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </small>
  </section>
 <h2> Description </h2>
  <section class="lot-body">
    <%= @lot.description %>
  </section>
</article>