<article class="lot">
  <section class="lot-head">
    <%= image_tag @lot.main_image.url(:medium) %>
    <h1> <%= @lot.name %> </h1>
    <small>
      <% if @lot.isplayedout? %>
         <%= link_to  t('lot.link_to_baragain'), current_bargains_path(@lot) %>
      <% end %>
      <p class="card-text"> <%= t('lot.start_price') %>  <%= @lot.start_price %> BYN </p>
      <time> <%= t('lot.time_created') %>  <%= @lot.created_at.to_time.strftime('%I:%M %m/%d/%Y')  %> </time>
      <% if can? :edit, @lot %>
        <%= link_to  t('lot.edit'), edit_lot_path(@lot), class: "badge badge-dark"  %>
        |
        <%= link_to  t('lot.delete'), lot_path(@lot),class: "badge badge-dark",  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </small>
  </section>
 <h2> <%= t('lot.description') %> </h2>
  <section class="lot-body">
    <%= @lot.description %>
  </section>
</article>