<!DOCTYPE html>
<html>
  <head>
    <title>Auction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active mr-sm-2"> <a class="navbar-brand" href="<%=lots_path%>"> <%= t('main.main_page')%> </a> </li>
        <li class="nav-item active mt-sm-2 mr-sm-1"> <a class="badge badge-info active mr-sm-2" href="<%= main_news_index_path%>">  <%= t('news')%>  </a> </li>
      <% if user_signed_in?%>
        <li class="nav-item active mt-sm-2 mr-sm-2"><a class="badge badge-info" href="<%=user_path(current_user)%>"><%= t('main.user') %><span class="sr-only">(current)</span></a></li>
        <li class="nav-item active mt-sm-2 mr-sm-2"><a class="badge badge-info" href="<%=new_lot_path%>"> <%= t('main.new_lot') %> <span class="sr-only">(current)</span></a></li>
        <li class="nav-item active mt-sm-2 mr-sm-2"><a class="badge badge-info" href="<%=current_bargains_path%>"> <%= t('main.all_played_lots') %> <span class="sr-only">(current)</span></a></li>
        <li class="nav-item active mt-sm-2 mr-sm-1"><a class="badge badge-info" href="<%=user_win_lots_path(current_user)%>"> <%= t('main.win_lots') %> <span class="sr-only">(current)</span></a></li>
        <li class="nav-item dropdown">
          <a class="nav-item active badge badge-info nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span id="count_notification" class="badge badge-light"></span>
            <%= t 'main.notification'%>
          </a>
          <div class="dropdown-menu bg-dark" id="messages"  style="width: 300%; height: 500%; overflow-x: hidden; overflow-y: scroll;">  
            <%= render @messages.includes(:current_bargain) %>
          </div>
        </li>
        </ul>

        <%= link_to t('main.logout'), destroy_user_session_path, :method => :delete, class: 'nav-item active mr-sm-2 badge badge-info' %>
      <% else %>
        </ul> 
        <a class="badge badge-info mr-sm-2" href="<%=new_user_registration_path%>"><%= t('main.signup') %> <span class="sr-only">(current)</span></a>
        <a class="badge badge-info mr-sm-2" href="<%=new_user_session_path%>"> <%= t('main.signin') %><span class="sr-only">(current)</span></a>
      <% end %>
    <%= form_tag('/search', method: :get) do |f| %>
      <%= text_field_tag :query  %>
      <%= submit_tag 'Search', class: 'btn btn-outline-success'  %>
    <% end %>
  </div>
</nav>
    <div class="container main">
      <div class="row">
        <div class="col-md-12" id="flashmsg"> 
          <% flash.each do |name, message| %>
            <div class="alert">
              <%= message %>
            </div>
          <% end %>
        </div>
      <div> 

      <div class="container">
        <div class="m-2 badge badge-pill badge-warning"><%= t('tags')%> </div>
        <% get_all_tag(Tag.counts, %w(tag1, tag2, tag3, tag4, tag5)) do |tag, css_class|%>
          <%= link_to tag.name, tag_path(tag.name), class: 'badge badge-secondary' %>
        <%end%>
        <%= yield %>
      </div>
  </body>
</html>
